<div id="header-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
      <%= link_to application_name, root_path, class: "navbar-brand" %>
      <!-- <%= render :partial=>'/user_util_links' %> -->
    </div>
  </div>
</div>

