<div class="panel panel-content search-panel">
  <div class="panel-body">
    <%= render partial: 'shared/manuscript_body', locals: {document: document, show_manifest: show_manifest}  %>
  </div>
  <% if show_footer == true %>
    <div class="panel-footer results-footer">
      <%= render partial: 'shared/manuscript_footer', locals: {document: document}  %>
    </div>
  <% end %>
</div>
