<%= render :partial => 'catalog/did_you_mean' %>
<div class="row" id="searchinfo">
  <div class="col-md-9">
    <%= render :partial => '/shared/simple_constraints' %>
  </div>
  <div class="col-md-3">
    <%= render :partial => 'shared/sort_widget' %>
  </div>
</div>
