<%  # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
%>

<span class="constraint <%= options[:classes].join(" ") if options[:classes] %>">
  <span class="constraint-value">
    <% unless value.blank? %>
      <%= content_tag :span, value, class: 'filterValue', title: value %>
    <% end %>
    <% unless label.blank? %>
      <span> in </span>
      <span class="filterName"><%= label %></span>
    <% end %>
  </span>
</span><br/>
