<div id="content">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => '/folio/header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" id="viewer_container">
      <%= render :partial => '/test/manifest' %>
    </div>
    <div class="col-md-6">
      <%= render :partial => '/test/description' %>
    </div>
  </div>
  <div class="row folio-footer">
    <div class="col-md-12">
      <%= render :partial => '/folio/footer' %>
    </div>
  </div>
</div>