# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5b22496887dadbaf5e5c3fed52a11526f1508ff8b4e5356fe57dcef86ffa1af88dbf124f6b974f0503915cd86c259c4f591db98369cef580745785ae5ad32982

test:
  secret_key_base: 5f35e4f59f6966369185fb9eb33ccbf6969c02b04b0fab939dae15ac119bcedfb10cb6d8e76b0ff9e6e956ddab77cf73ea8f211678ee51db8434af770f6965dd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
