<% if @document.has_key?('collection') && !@document['collection'].blank? %>
  <%
    breadcrumb_params = { 'search_field' => 'descriptions', f: { } }
    # @document['place_display'] is an array
    # breadcrumb_params[:f]['place_facet'] = @document['place_display'] unless @document['place_display'].blank?
    breadcrumb_params[:f]['collection'] = [@document['collection']] unless @document['collection'].blank?
  %>
  <%= render_breadcrumb_constraints_filters(breadcrumb_params) %>
  <% unless @document['authors_all_display'].blank? %>
    <span> > </span>
  <% end %>
<% end %>
<% unless @document['authors_all_display'].blank? %>
  <span><%= @document['authors_all_display'].join(' | ') %></span>
<% end %>
