<div class="panel panel-default folio-panel">
  <div class="panel-heading results-header">
    <h3 class="panel-title">Current folio: </h3>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left folio-img">
      </div>
      <div class="media-body">
        <div class="folio-annotations"></div>
        <div class="folio-transcriptions"></div>
      </div>
    </div>
    <div class="folio-transcription-line"></div>
  </div>
</div>