<div class="panel panel-default folio-panel folio-recto" data-start="<%=params[:start]%>">
  <%= render :partial => '/manuscript/folio' %>
</div>
<div class="panel panel-default folio-panel folio-verso">
  <%= render :partial => '/manuscript/folio' %>
</div>