<div class="col-sm-4 col-md-4 col-lg-12">
  <div class="panel panel-default folio-panel folio-recto">
    <%= render :partial => '/manuscript/folio' %>
  </div>
</div>
<div class="col-sm-4 col-md-4 col-lg-12">
  <div class="panel panel-default folio-panel folio-verso">
    <%= render :partial => '/manuscript/folio' %>
  </div>
</div>