<div class="col-md-12">
  <%= render :partial => '/shared/previous_record' %>
  <%= render :partial => '/shared/next_record' %>
  <div class="pull-right footer-top"><%= render :partial => '/shared/top' %></div>
</div>