<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>
<%- if @document_list_m.empty? %>
  <%= render partial: 'catalog/zero_results' %>
<%- else %>
  <%= render partial: 'shared/manuscript', collection: @document_list_m, as: :document, locals: {show_manifest: true, show_footer: true} %>
  <%= render partial: 'shared/results_footer' %>
<%- end %>
