<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @document_list_t.empty? %>
  <%= render partial: 'catalog/zero_results' %>
<%- else %>
  <%= render partial: 'shared/transcription', collection: @document_list_t, as: :document %>
  <%= render partial: 'shared/results_footer' %>
<%- end %>
