<div id="content">
  <div class="row">
    <div class="col-md-4">
      <%= render :partial => '/catalog/_bentopage/results_summary' %>
    </div>
    <div class="col-md-8">
      <%= render :partial => '/catalog/_bentopage/manuscripts' %>
    </div>
  </div>
  <div class="row">
    <%= render :partial => '/catalog/_bentopage/transcriptions' %>
  </div>
  <div class="row">
    <%= render :partial => '/catalog/_bentopage/annotations' %>
  </div>
</div>
