<% @response = @response_m %>
<% @document_list = @document_list_m %>
<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render partial: 'catalog/search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <%= render partial: 'catalog/manuscript_search_results' %>
</div>
