<% if (@manuscript.has_key?('place_display') && @manuscript['place_display'].first.present?) ||
    (@manuscript.has_key?('collection') && !@manuscript['collection'].blank?) ||
     (@manuscript.has_key?('authors_all_display') && @manuscript['authors_all_display'].first.present?)
%>
  <%
    breadcrumb_params = { 'search_field' => 'descriptions', f: { } }
    breadcrumb_params[:f]['place_facet'] = [@manuscript['place_display'].first] unless @manuscript['place_display'].blank?
    breadcrumb_params[:f]['collection'] = [@manuscript['collection']] unless @manuscript['collection'].blank?
    breadcrumb_params[:f]['authors_all_facet'] = [@manuscript['authors_all_display'].first] unless @manuscript['authors_all_display'].blank?
  %>
  <%= render_breadcrumb_constraints_filters(breadcrumb_params) %>
  <span> > </span>
<% end %>
<span><%= params[:id] %></span>

