<% if (@manuscript.has_key?('collection') && @manuscript['collection'].present?) ||
     (@manuscript.has_key?('title_display') && @manuscript['title_display'].present?)
%>
  <%
    breadcrumb_params = { 'search_field' => 'transcriptions', f: { } }
    # breadcrumb_params[:f]['place_facet'] = [@manuscript['place_display'].first] unless @manuscript['place_display'].blank?
    breadcrumb_params[:f]['collection'] = [@manuscript['collection']] unless @manuscript['collection'].blank?
    breadcrumb_params[:f]['manuscript_facet'] = [@manuscript['title_display']] unless @manuscript['title_display'].blank?
    # @manuscript['authors_all_display'] is an array and it is not indexed with transcriptions
    # breadcrumb_params[:f]['authors_all_facet'] = @manuscript['authors_all_display'] unless @manuscript['authors_all_display'].blank?
  %>
  <%= render_breadcrumb_constraints_filters(breadcrumb_params) %>
  <span> > </span>
<% end %>
<% unless @manuscript['authors_all_display'].blank? %>
  <span><%= @manuscript['authors_all_display'].join(' | ') %></span><span> > </span>
<% end %>
<span><%= params[:id] %></span>

