<% unless @manuscript['manifest_urls'].blank? || @canvas_id.blank? %>
  <div id="folio_viewer" data-manifest-uri="<%=@manuscript['manifest_urls'].first%>" data-canvas-id="<%=@canvas_id%>">
  </div>
<% end %>