<% prev_url = "/manuscript/#{params[:manuscript_id]}/folio/#{@previous_folio['label']}" %>
<a href="<%=prev_url%>" rel="prev" class="btn btn-lg btn-paginate-prev" id="previouspage">
  <span class="prev_result"><%= @previous_folio['label'] %></span>
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
</a>
<div>
  <a href="<%=prev_url%>" rel="prev">
    <img class="media-object results-thumbnail" src="<%=@previous_folio['img']%>" alt="folio thumbnail">
  </a>
</div>