<div id="home_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><%= facet_field_label(facet_field.key) %></h3>
      </div>
      <div class="modal-body">
        <div class="facet_extended_list">
          <%= render_facet_limit(display_facet, layout: false) %>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>