.inner-addon {
  position: relative;
  display: inline;
  float: left;
  margin-bottom: 5px;
}
.lookup-label {
  position: relative;
  display: inline;
  float: left;
  vertical-align: middle;
  padding: 7px 3px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }